{% extends 'master.html' %}
{% load static %}
{% block content %}


    <div class="logmain">
        <main class=" d-flex form-signin w-100 mt-5 align-items-center justify-content-center mx-auto">
            <form class="mt-5" method="post">{% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">Login Here</h1>

                <label for="floatingInput">Email address</label>
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">


                <label for="floatingPassword">Password</label>
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">

                {% for field in login_form  %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}


                {% if login_form.non_field_errors %}
                    <div style="color: red;">
                        <p>{{ login_form.non_field_errors }}</p>
                    </div>
                {% endif %}
                <button class="btn btn-primary w-100 py-2 my-3" type="submit">Login</button>
            </form>
        </main>
        <div class="d-flex flex-column mb-5">
            <a href="{% url 'password_reset' %}" class="m-auto">Reset password</a>
        </div>
    </div>
{% endblock %}