{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="mt-5 align-items-center justify-content-center d-flex text-center">
        <form method="post" class="mt-5 form-signin">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
        <input id="id_old_password" required type="password" name="old_password" class="form-control mb-2" placeholder="Old Password">
        <input id="id_new_password1" required type="password" name="new_password1" class="form-control mb-2" placeholder="New Password">
        <input id="id_new_password2" required type="password" name="new_password2" class="form-control mb-2" placeholder="New Password Again">
        {% for field in form %}
        	{% for error in fields.errors %}
        		<p style="color: red"></p>
        	{% endfor %}
        {% endfor %}
        <button class="btn btn-success" type="submit">Update</button>
    </form>
    </div>
{% endblock %}