{% extends 'master.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="d-flex flex-column">
            <h3>Terms and Conditions of Use</h3>

            <p>These Terms and Conditions of Use govern your access and use of the VintageVirtue website.</p>
            <p>By accessing or using the Platform, you agree to be bound by these Terms.</p>

            <br>
            <h5>User Eligibility:</h5>
            <p>You must be at least 18 years old to use this Platform.</p>

            <br>
            <h5>User Accounts:</h5>
            <p>You are responsible for maintaining the confidentiality of your account information.</p>
            <p>You agree to provide accurate and current information during the registration process.</p>

            <br>
            <h5>Posting and Transactions:</h5>
            <p>Sellers are responsible for the accuracy of their listings, including item descriptions, images, and prices.</p>
            <p>Buyers agree to make payment promptly upon agreeing to purchase an item.</p>

            <br>
            <h5>Prohibited Content:</h5>
            <p>Users may not post content that violates applicable laws, infringes on intellectual property rights, or is offensive or inappropriate.</p>

            <br>
            <h5>Communications:</h5>
            <p>Users agree to communicate respectfully and honestly with other members of the Platform.</p>
            <p>VintageVirtue is not responsible for any communications or transactions conducted off the Platform.</p>

            <br>
            <h5>Privacy:</h5>
            <p>We respect your privacy. Please refer to our Privacy Policy for details on how we collect, use, and disclose your personal information.</p>

            <br>
            <h5>Intellectual Property:</h5>
            <p>All content on the Platform is protected by intellectual property laws. Users agree not to use, modify, or distribute this content without permission.</p>

            <br>
            <h5>Termination:</h5>
            <p>VintageVirtue reserves the right to suspend or terminate user accounts for violations of these Terms.</p>

            <br>
            <h5>Disclaimers:</h5>
            <p>VintageVirtue is not responsible for the quality, safety, or legality of items listed on the Platform.</p>
            <p>Users use the Platform at their own risk.</p>

            <br>
            <h5>Changes to Terms:</h5>
            <p>VintageVirtue reserves the right to modify these Terms at any time. Users will be notified of significant changes.</p>

            <br>
            <h5>Contact Information:</h5>
            <p>For questions or concerns regarding these Terms, please  <a href="{% url 'contact-url' %}">Contact us</a>.</p>
        </div>
    </div>

{% endblock %}



