{% extends 'master.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center ml-auto align-items-center">
            <div>
                <h4>Contact</h4>
                <p><strong>Address:</strong> Lumumba Drive Roysambu Kenya</p>
                <p><strong>Phone:</strong> +254 7234543212</p>
                <p><strong>Hours:</strong> 08:00 - 17:00, Mon - Sat</p>
                <div class="follow">
                    <h5>Follow Us</h5>
                    <div class="icon">
                        <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}